<!-- products -->
<div class="input-field" id="">
    <select id="mktProductName" name="mktProductName">
        <option value="" class="gray-text" required disabled selected>Choose a Product</option>
        <!-- Agric Inputs Products -->
        <option disabled value="">Ag. Inputs</option>
        <option value="Seed_rice">Seed rice</option>
        <option value="Paddy_rice">Paddy rice</option>
        <option value="Seed_groundnut">Seed groundnut</option>
        <option value="Seet_cow_pea">Seet cow pea</option>
        <option value="Seed_vegetable">Seed vegetable</option>
        <option value="Cassava_cuttings">Cassava cuttings</option>
        <option value="Sweet_pototo_vines">Sweet pototo vines</option>
        <option value="Water_yam_set">Water yam set</option>
        <option value="Maize_Seed">Maize Seed</option>
        <option value="Palm_Oil_Seedlings">Palm Oil Seedlings</option>
        <option value="Cacao_Seedlings">Cacao Seedlings</option>
        <option value="Coffee_Seedlings">Coffee Seedlings</option>
        <option value="Citrus_Seedlings">Citrus Seedlings</option>
        <option value="Cashew_Seedlings">Cashew Seedlings</option>
        <option value="Coconut_Seedlings">Coconut Seedlings</option>
        <option value="Fertlizer_N:P:K ">Fertlizer, N:P:K 15:15:15</option>
        <option value="Fertlizer_urea">Fertlizer, urea</option>
        <option value="Herbicide">Herbicide</option>
        <option value="Pesticide">Pesticide</option>
        <option value="Fungicides">Fungicides</option>
        <option value="Farm_labour">Farm labour</option>
        <option value="Tractor">Tractor (land preparation)</option>
        <!-- END of Agric Inputs Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Cereals Products -->
        <option disabled value="">Cereals</option>
        <option id="Rice_imported" value="Rice_imported_milled">Rice, imported, milled</option>
        <option id="Rice_local" value="Rice_local_milled_parboiled">Rice, local, milled, parboiled</option>
        <option id="Rice_local_rough" value="Rice_local_rough">Rice, local, rough</option>
        <option id="Rice_paddy_husk" value="Rice_paddy_husk">Rice, paddy, husk</option>
        <option id="Maize_grain_(dried)" value="Maize_grain_dried">Maize grain (dried)</option>
        <option id="Sorghum" value="Sorghum">Sorghum</option>
        <option id="Millet_(finger)" value="Millet_finger">Millet (finger)</option>
        <option id="Millet_(small)" value="Millet_small">Millet (small)</option>
        <!-- END of Cereals Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Fishes Products -->
        <option disabled value="">Fishes</option>
        <option value="Bonga_raw">Bonga (raw)</option>
        <option value="Bonga_dried">Bonga (dried)</option>
        <option value="Herring_raw">Herring (raw)</option>
        <option value="Herring_dried">Herring (dried)</option>
        <option value="Catfish_raw">Catfish (raw)</option>
        <option value="Catfish_dried">Catfish (dried)</option>
        <option value="Tilapia_raw">Tilapia (raw)</option>
        <option value="Tilapia_dried">Tilapia (dried)</option>
        <option value="Other_fish">Other fish</option>
        
        <!-- END of Fishes Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Forestries Products -->
        <option disabled value="">Forestries</option>
        <option value="Charcoal">Charcoal</option>
        <option value="Fuel_wood">Fuel wood</option>
        <option value="Broom">Broom</option>
        <option value="Timber_pole">Timber, pole</option>
        <option value="Timber_1x12x14">Timber (1x12x14)</option>
        <option value="Timber_2x2x14">Timber (2x2x14)</option>
        <option value="Timber_2x6x14">Timber (2x6x14)</option>
        <!-- END of Forestries Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Fruits Products -->
        <option disabled value="">Fruits</option>
        <option value="Plantain">Plantain</option>
        <option value="Banana">Banana</option>
        <option value="Mango">Mango</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Orange">Orange</option>
        <option value="Grapefruit">Grapefruit</option>
        <option value="Tangerine">Tangerine</option>
        <option value="Lime">Lime</option>
        <option value="Avocado">Avocado</option>
        <option value="Pawpaw">Pawpaw</option>
        <option value="Guava">Guava</option>
        <!-- END of Fruits Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Livestock Products -->
        <option disabled value="">Livestock</option>
        <option value="Eggs_chicken">Eggs, chicken</option>
        <option value="Cow_milk">Cow milk</option>
        <option value="Cow_meat">Cow meat</option>
        <option value="Pig_meat_pork">Pig meat (pork)</option>
        <option value="Chicken_live_adult">Chicken, live adult</option>
        <option value="Goat_live_adult">Goat, live adult</option>
        <option value="Sheep_live_adult">Sheep, live adult</option>
        <option value="Pig_live_adult">Pig, live adult</option>
        <option value="Cattle_live_adult">Cattle, live adult</option>
        <!-- END of Livestock Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Others Products -->
        <option disabled value="">Others</option>
        <option value="Cashew_nuts">Cashew nuts</option>
        <option value="Palm_oil">Palm oil</option>
        <option value="Coconut_oil">Coconut oil</option>
        <option value="Palm_kernal_nut_oil">Palm kernal nut oil</option>
        <!-- END of Others Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Pulses Products -->
        <option disabled value="">Pulses</option>
        <option value="Groundnut_unshelled">Groundnut (unshelled)</option>
        <option value="Groundnut_shelled">Groundnut (shelled)</option>
        <option value="Sesame">Sesame</option>
        <option value="Cowpea">Cowpea</option>
        <option value="Broad_beans">Broad beans</option>
        <option value="Pigeon_peas">Pigeon peas</option>
        <!-- END of pulses Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Stimulants Products -->
        <option disabled value="">Stimulants</option>
        <option value="Cocoa">Cocoa</option>
        <option value="Coffee">Coffee</option>
        <option value="Kola_nut">Kola nut</option>
        <option value="Ginger">Ginger</option>
        <!-- END of Stimulants Products -->

        <li class="divider" tabindex="-1"></li>
        <!-- Tubers Products -->
        <option disabled value="">Tubers</option>
        <option value="Cassava_tubers">Cassava (tubers)</option>
        <option value="Cassava_gari">Cassava (gari)</option>
        <option value="Sweet_potato">Sweet potato</option>
        <option value="Water_yam">Water yam</option>
        <option value="Coco_yam">Coco yam</option>
        <option value="Chinese_yam">Chinese yam</option>
        <!-- END Tubers Products -->
        
        <li class="divider" tabindex="-1"></li>
        <!-- Vegetables Products -->
        <option disabled value="">Vegetables</option>
        <option value="Okra">Okra</option>
        <option value="Garden_eggs">Garden eggs</option>
        <option value="Tomatoes">Tomatoes</option>
        <option value="Pepper_small_hot">Pepper, small (hot)</option>
        <option value="Pepper_large_sweet">Pepper, large (sweet)</option>
        <option value="Water_melon">Water melon</option>
        <option value="Cucumber">Cucumber</option>
        <option value="Pumpkin">Pumpkin</option>
        <option value="Onions_bulb">Onions, bulb</option>
        <option value="Potato_irish">Potato, irish</option>
        <option value="Cabbage">Cabbage</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Carrot">Carrot</option>
        <!-- END of Vegetables Products -->
    </select>
</div>
<!-- products -->