<section class="section stock_level_section hide-on-large-only">
    <form method="POST" action="/inputStockLevel" id="stockLevelForm">
        <div class="row center">
            <div class="col s12">
                <h4 class="center green-text text-darken-1">Stock Level Monitoring Data</h4>
                <small class="center green-text text-darken-1">Please fill in the form</small>
                <div class="submitAlert">
                    <p>Success: Your data has been sent</p>
                </div>
                <div class="errorAlert">
                    <p>Error: All fields requires input</p>
                </div>
                <div class="container">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">A) Type of Traders by Market</div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <select id="ttmDistrict" name="ttmDistrict" required class="validate">
                                        <option value="" class="gray-text" required disabled selected>Choose a District</option>
                                        <option value="West_Area">Western Area Urban</option>
                                        <!-- <option value="West_Area" id="DIST_WAU">Western Area Rural</option> -->
                                        <option value="Falaba">Falaba</option>
                                        <option value="Koinadugu">Koinadugu</option>
                                        <option value="Bombali">Bombali</option> id="Tonkolili">Tonkolili</option>
                                        <option value="Kambia">Kambia</option>
                                        <option value="Karene">Karene</option>
                                        <option value="Porto_Loko">Porto Loko</option>
                                        <option value="Bo">Bo</option>
                                        <option value="Bonthe">Bonthe</option>
                                        <option value="Pujehun">Pujehun</option>
                                        <option value="Moyamba">Moyamba</option>
                                        <option value="Kenema">Kenema</option>
                                        <option value="Kaliahun">Kaliahun</option>
                                        <option value="Kono">Kono</option>
                                    </select>
                                </div>
                                <!-- east_markets -->
                                <!-- kailahun markets -->
                                <div class="input-field kai_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Daru">Daru (KAI)</option>
                                        <option value="Dowei_Segbwema">Dowei - Segbwema (KAI)</option>
                                        <option value="Dowei_Daru">Dowei - Daru (KAI)</option>
                                        <option value="Jopowahun">Jopowahun (KAI)</option>
                                        <option value="Pendembu">Pendembu (KAI)</option>
                                        <option value="Segbwema">Segbwema (KAI)</option>
                                    </select>
                                </div>
                                <!-- kenema markets -->
                                <div class="input-field ken_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Blama">Blama (KEN)</option>
                                        <option value="Bradford">Bradford (KEN)</option>
                                        <option value="Gbogbotor">Gbogbotor (KEN)</option>
                                        <option value="Gbongboto">Gbongboto (KEN)</option>
                                        <option value="Kpandebu">Kpandebu (KEN)</option>
                                        <option value="Maxwell_Kobi">Maxwell Kobi (KEN)</option>
                                    </select>
                                </div>
                                <!-- kono markets -->
                                <div class="input-field kon_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Gbense">Gbense (KON)</option>
                                        <option value="Konomayi_Park">Konomayi Park (KON)</option>
                                        <option value="Tankoro">Tankoro (KON)</option>
                                    </select>
                                </div>
                                <!-- end of east markets -->

                                <!-- west_markets -->
                                <div class="input-field fre_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Dovecut">Dovecut (FRE)</option>
                                        <option value="Kenedy_Street">Kenedy Street(FRE)</option>
                                        <option value="Palm_Bridge">Palm Bridge (FRE)</option>
                                        <option value="Kissy_Road_Market">Kissy Road Market (FRE)</option>
                                        <option value="Tombo_Waterloo">Tombo-Watloo (FRE)</option>
                                        <option value="Lumley_Market">Lumley Market (FRE)</option>
                                        <option value="Funkia_Market">Funkia Market (FRE)</option>
                                        <option value="Aberdeen_Road_Market">Aberdeen Road Market (FRE)</option>
                                        <option value="Ogoo_Farm_Market">Ogoo Farm Market (FRE)</option>
                                        <option value="Congo_Market">Congo Market (FRE)</option>
                                        <option value="Krootown_Road_Market">Kroo Town Road Market (FRE)</option>
                                    </select>
                                </div>
                                <!-- end of west matkets -->

                                <!-- north_east_markets -->
                                <!-- bombali_markets -->
                                <div class="input-field bom_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Central">Central (BOM)</option>
                                        <option value="Church_Street">Church Street (BOM)</option>
                                        <option value="Magburaka_Road">Magburaka Rd (BOM)</option>
                                        <option value="Makoth">Makoth (BOM)</option>
                                        <option value="Mayolaw">Mayolaw (BOM)</option>
                                    </select>
                                </div>
                                <!-- koinadugu_markets -->
                                <div class="input-field koi_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Badalla">Badalla (KOI)</option>
                                        <option value="Central_Market_Kabala">Central Market Kabala (KOI)</option>
                                        <option value="Dogolie">Dogolie (KOI)</option>
                                        <option value="Fadugu">Fadugu (KOI)</option>
                                        <option value="Gbenekoro">Gbenekoro (KOI)</option>
                                        <option value="Sakuta">Sakuta (KOI)</option>
                                        <option value="Tenderhill">Tenderhill (KOI)</option>
                                        <option value="Yogmaia">Yogmaia (KOI)</option>
                                        <option value="Daresalam">Daresalam (KOI)</option>
                                        <option value="Diang">Diang (KOI)</option>
                                        <option value="Bamukoro">Bamukoro (KOI)</option>
                                    </select>
                                </div>
                                <!-- tonkolili_markets -->
                                <div class="input-field ton_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Bumbuna">Bumbuna (TON)</option>
                                        <option value="Koindu">Koindu (TON)</option>
                                        <option value="Mabarr_Konkorie">Mabarr Konkorie (TON)</option>
                                        <option value="Magburaka">Magburaka (TON)</option>
                                        <option value="Makali">Makali (TON)</option>
                                        <option value="Mathoir">Mathoir (TON)</option>
                                        <option value="Matotoka">Matotoka (TON)</option>
                                        <option value="Mile_91">Mile 91 (TON)</option>
                                        <option value="Yele">Yele (TON)</option>
                                    </select>
                                </div>
                                <!-- falaba_markets -->
                                <div class="input-field fal_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Dogoloya">Dogoloya (FAL)</option>
                                        <option value="Manah">Manah (FAL)</option>
                                        <option value="Gbindi">Gbindi (FAL)</option>
                                        <option value="Karifaya">Karifaya (FAL)</option>
                                        <option value="Gbentu">Gbentu (FAL)</option>
                                        <option value="Dankawallie">Dankawallie (FAL)</option>
                                        <option value="Seria">Seria (FAL)</option>
                                        <option value="Deldu_Kamaron">Deldu Kamaron (FAL)</option>
                                        <option value="Bumbukoro">Bumbukoro (FAL)</option>
                                        <option value="Mansofinia">Mansofinia (FAL)</option>
                                        <option value="Musaia">Musaia (FAL)</option>
                                        <option value="Walia">Walia (FAL)</option>
                                    </select>
                                </div>
                                <!-- end of north_east markets -->

                                <!-- north_west_markets -->
                                <!-- kambia markets -->
                                <div class="input-field kam_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Bamoi">Bamoi (KAM)</option>
                                        <option value="Kambia_Main_Market">Kambia Main Market (KAM)</option>
                                        <option value="Madina">Madina (KAM)</option>
                                        <option value="Rokpur">Rokpur(KAM)</option>
                                    </select>
                                </div>
                                <!-- portloko markets -->
                                <div class="input-field plo_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Foredugu">Foredugu (PLO)</option>
                                        <option value="Gberray_Junction">Gberray Junction (PLO)</option>
                                        <option value="Kalangba_Junction">Kalangba Junction (PLO)</option>
                                        <option value="Kondato_Road">Kondato Road (PLO)</option>
                                        <option value="Lunsar">Lunsar (PLO)</option>
                                        <option value="Makiteh">Makiteh (PLO)</option>
                                        <option value="Masaika">Masaika (PLO)</option>
                                        <option value="Port_Loko">Port Loko (PLO)</option>
                                        <option value="Wharf_Road">Wharf Road (PLO)</option>
                                    </select>
                                </div>
                                <!-- karene markets -->
                                <div class="input-field kar_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Rokutorloh">Rokutorloh (KAR)</option>
                                        <option value="Foredugu_Karene">Foredugu Karene (KAR)</option>
                                        <option value="Thambi">Thambi (KAR)</option>
                                        <option value="Kamakwie">Kamakwie (KAR)</option>
                                        <option value="Kamalo">Kamalo (KAR)</option>
                                        <option value="Fintonia_Samaya">Fintonia/Samaya (KAR)</option>
                                    </select>
                                </div>
                                <!-- end of north_west markets -->

                                <!-- south_markets -->
                                <!-- bo markets -->
                                <div class="input-field bo_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Bandajuma">Bandajuma (BO)</option>
                                        <option value="Bumpeh_Main_Market">Bumpeh Main Market (BO)</option>
                                        <option value="Gbongo">Gbongo (BO)</option>
                                        <option value="Gerihun">Gerihun (BO)</option>
                                        <option value="Gondama">Gondama (BO)</option>
                                        <option value="Koribondo">Koribondo (BO)</option>
                                        <option value="Mile_30">Mile 30 (BO)</option>
                                        <option value="Momajo">Momajo (BO)</option>
                                        <option value="Shenge">Shenge (BO)</option>
                                        <option value="Yakajie_Dowee">Yakajie Dowee (BO)</option>
                                    </select>
                                </div>
                                <!-- bonthe markets -->
                                <div class="input-field bon_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Congo_Market">Congo Market (BON)</option>
                                        <option value="Congo">Congo (BON)</option>
                                        <option value="Koiganya_Luma">Koiganya Luma (BON)</option>
                                        <option value="Madina">Madina (BON)</option>
                                        <option value="Mattru_central">Mattru central (BON)</option>
                                        <option value="Mattru_Periodic">Mattru Periodic (BON)</option>
                                        <option value="Moriba">Moriba (BON)</option>
                                        <option value="Yargoi">Yargoi (BON)</option>
                                    </select>
                                </div>
                                <!-- moyamba markets -->
                                <div class="input-field moy_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Moyamba_Big_Market">Moyamba Big Market (MOY)</option>
                                        <option value="Bradford">Bradford (MOY)</option>
                                        <option value="Njagbahun_Junction">Njagbahun Junction (MOY)</option>
                                        <option value="Kangahun">Kangahun (MOY)</option>
                                        <option value="Moyamba_Junction">Moyamba Junction (MOY)</option>
                                        <option value="Rotifunk">Rotifunk (MOY)</option>
                                        <option value="Sembehun">Sembehun (MOY)</option>
                                        <option value="Baja_Junction">Baja Junction (MOY)</option>
                                        <option value="Mano_Dasse">Mano Dasse (MOY)</option>
                                        <option value="Gbangbatoke">Gbangbatoke (MOY)</option>
                                        <option value="Youndu_Fakai">Youndu Fakai (MOY)</option>
                                        <option value="Bai_Largo">Bai-Largo (MOY)</option>
                                        <option value="Moyamba_Munku_Market">Moyamba Munku Market (MOY)</option>
                                        <option value="Mofombo">Mofombo (MOY)</option>
                                        <option value="Mokonde">Mokonde (MOY)</option>
                                    </select>
                                </div>
                                <!-- pujehun markets -->
                                <div class="input-field puj_markets_div">
                                    <select class="ttmmarketPlace" name="ttmmarketPlace">
                                        <option value="" class="gray-text" required disabled selected>Choose a Market</option>
                                        <option value="Bandajuma">Bandajuma (PUJ)</option>
                                        <option value="Fonima">Fonima (PUJ)</option>
                                        <option value="Gbondapi">Gbondapi (PUJ)</option>
                                        <option value="Massa_Market">Massa Market (PUJ)</option>
                                        <option value="Pujehun_Town">Pujehun Town (PUJ)</option>
                                    </select>
                                </div>
                                <!-- end of south markets -->
                                <div class="input-field">
                                    <label for="ttmMarket">Market Locality</label>
                                    <input type="text" name="ttmMarket" id="ttmMarket" required>
                                </div>
                                <!-- product category -->
                                <div class="input-field">
                                    <select name="msuProductCategory" id="msuProductCategory" required>
                                        <option value="" class="gray-text" required disabled selected>Choose Product Category</option>
                                        <option value="Ag_Inputs">Ag. Inputs</option>
                                        <option value="Cereals">Cereals</option>
                                        <option value="Fishes">Fishes</option>
                                        <option value="Forestries">Forestries</option>
                                        <option value="Fruits">Fruits</option>
                                        <option value="Livestock">Livestock</option>
                                        <option value="Others">Others</option>
                                        <option value="Pulses">Pulses</option>
                                        <option value="Stimulants">Stimulants</option>
                                        <option value="Tubers">Tubers</option>
                                        <option value="Vegetables">Vegetables</option>
                                    </select>
                                </div>
                                <!-- end of product category -->

                                <!-- Ag. Input's products -->
                                <div class="input-field" id="ag_inputs_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose an Ag-Input product</option>
                                        <option value="Seed_rice">Seed rice</option>
                                        <option value="Paddy_rice">Paddy rice</option>
                                        <option value="Seed_groundnut">Seed groundnut</option>
                                        <option value="Seet_cow_pea">Seet cow pea</option>
                                        <option value="Seed_vegetable">Seed vegetable</option>
                                        <option value="Cassava_cuttings">Cassava cuttings</option>
                                        <option value="Sweet_pototo_vines">Sweet pototo vines</option>
                                        <option value="Water_yam_set">Water yam set</option>
                                        <option value="Maize_Seed">Maize Seed</option>
                                        <option value="Palm_Oil_Seedlings">Palm Oil Seedlings</option>
                                        <option value="Cacao_Seedlings">Cacao Seedlings</option>
                                        <option value="Coffee_Seedlings">Coffee Seedlings</option>
                                        <option value="Citrus_Seedlings">Citrus Seedlings</option>
                                        <option value="Cashew_Seedlings">Cashew Seedlings</option>
                                        <option value="Coconut_Seedlings">Coconut Seedlings</option>
                                        <option value="Fertlizer_N:P:K ">Fertlizer, N:P:K 15:15:15</option>
                                        <option value="Fertlizer_urea">Fertlizer, urea</option>
                                        <option value="Herbicide">Herbicide</option>
                                        <option value="Pesticide">Pesticide</option>
                                        <option value="Fungicides">Fungicides</option>
                                        <option value="Farm_labour">Farm labour</option>
                                        <option value="Tractor">Tractor (land preparation)</option>
                                    </select>
                                </div>
                                <!-- end of Ag. Input's products -->

                                <!-- cereal list -->
                                <div class="input-field" id="cereal_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a cereal product</option>
                                        <option value="Rice_imported_milled">Rice, imported, milled</option>
                                        <option value="Rice_local_milled_parboiled">Rice, local, milled, parboiled</option>
                                        <option value="Rice_local_rough">Rice, local, rough</option>
                                        <option value="Rice_paddy_husk">Rice, paddy, husk</option>
                                        <option value="Maize_grain_dried">Maize grain (dried)</option>
                                        <option value="Sorghum">Sorghum</option>
                                        <option value="Millet_finger">Millet (finger)</option>
                                        <option value="Millet_small">Millet (small)</option>
                                    </select>
                                </div>
                                <!-- end of cereal's products -->

                                <!-- fishes list-->
                                <div class="input-field" id="fish_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a fish product</option>
                                        <option value="Bonga_raw">Bonga (raw)</option>
                                        <option value="Bonga_dried">Bonga (dried)</option>
                                        <option value="Herring_raw">Herring (raw)</option>
                                        <option value="Herring_dried">Herring (dried)</option>
                                        <option value="Catfish_raw">Catfish (raw)</option>
                                        <option value="Catfish_dried">Catfish (dried)</option>
                                        <option value="Tilapia_raw">Tilapia (raw)</option>
                                        <option value="Tilapia_dried">Tilapia (dried)</option>
                                        <option value="Other_fish_raw">Other fish (raw)</option>
                                        <option value="Other_fish_dried">Other fish (dried)</option>
                                    </select>
                                </div>
                                <!-- end of fishes list -->

                                <!-- forestry products -->
                                <div class="input-field" id="forestry_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a forestry product</option>
                                        <option value="Charcoal">Charcoal</option>
                                        <option value="Fuel_wood">Fuel wood</option>
                                        <option value="Broom">Broom</option>
                                        <option value="Timber_pole">Timber, pole</option>
                                        <option value="Timber_1x12x14">Timber (1x12x14)</option>
                                        <option value="Timber_2x2x14">Timber (2x2x14)</option>
                                        <option value="Timber_2x6x14">Timber (2x6x14)</option>
                                    </select>
                                </div>
                                <!-- end of forestry products -->

                                <!-- fruit products -->
                                <div class="input-field" id="fruit_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a fruit product</option>
                                        <option value="Plantain">Plantain</option>
                                        <option value="Banana">Banana</option>
                                        <option value="Mango">Mango</option>
                                        <option value="Pineapple">Pineapple</option>
                                        <option value="Orange">Orange</option>
                                        <option value="Grapefruit">Grapefruit</option>
                                        <option value="Tangerine">Tangerine</option>
                                        <option value="Lime">Lime</option>
                                        <option value="Avocado">Avocado</option>
                                        <option value="Pawpaw">Pawpaw</option>
                                        <option value="Guava">Guava</option>
                                    </select>
                                </div>
                                <!-- end of fruit products -->

                                <!-- livestock products -->
                                <div class="input-field" id="livestock_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a livestock product</option>
                                        <option value="Eggs chicken">Eggs, chicken</option>
                                        <option value="Cow milk">Cow milk</option>
                                        <option value="Cow meat">Cow meat</option>
                                        <option value="Pig meat pork">Pig meat (pork)</option>
                                        <option value="Chicken live adult">Chicken, live adult</option>
                                        <option value="Goat live adult">Goat, live adult</option>
                                        <option value="Sheep live adult">Sheep, live adult</option>
                                        <option value="Pig live adult">Pig, live adult</option>
                                        <option value="Cattle live adult">Cattle, live adult</option>
                                    </select>
                                </div>
                                <!-- end of livestock products -->

                                <!-- other products -->
                                <div class="input-field" id="other_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose an other product</option>
                                        <option value="Cashew nuts">Cashew nuts</option>
                                        <option value="Palm oil">Palm oil</option>
                                        <option value="Coconut oil">Coconut oil</option>
                                        <option value="Palm kernalnut oil">Palm kernal nut oil</option>
                                    </select>
                                </div>
                                <!-- end of other products -->

                                <!-- pulses products -->
                                <div class="input-field" id="pulses_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose pulses product</option>
                                        <option value="Groundnut unshelled">Groundnut (unshelled)</option>
                                        <option value="Groundnut shelled">Groundnut (shelled)</option>
                                        <option value="Sesame">Sesame</option>
                                        <option value="Cowpea">Cowpea</option>
                                        <option value="Broad beans">Broad beans</option>
                                        <option value="Pigeon peas">Pigeon peas</option>
                                    </select>
                                </div>
                                <!-- end of pulses products -->

                                <!-- stimulant products -->
                                <div class="input-field" id="stimulant_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a stimulant product</option>
                                        <option value="Cocoa">Cocoa</option>
                                        <option value="Coffee">Coffee</option>
                                        <option value="Kola_nut">Kola nut</option>
                                        <option value="Ginger">Ginger</option>
                                    </select>
                                </div>
                                <!-- end of stimulant products -->

                                <!-- tubers products -->
                                <div class="input-field" id="tuber_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a tuber product</option>
                                        <option value="Cassava tubers">Cassava (tubers)</option>
                                        <option value="Cassava gari">Cassava (gari)</option>
                                        <option value="Sweet potato">Sweet potato</option>
                                        <option value="Water yam">Water yam</option>
                                        <option value="Coco yam">Coco yam</option>
                                        <option value="Chinese yam">Chinese yam</option>
                                    </select>
                                </div>
                                <!-- end of tubers products -->

                                <!-- vegetables products -->
                                <div class="input-field" id="vegetable_products_div">
                                    <select class="msuProductName" name="msuProductName">
                                        <option value="" class="gray-text" required disabled selected>Choose a vegetable product</option>
                                        <option value="Okra">Okra</option>
                                        <option value="Garden eggs">Garden eggs</option>
                                        <option value="Tomatoes">Tomatoes</option>
                                        <option value="Pepper small hot">Pepper, small (hot)</option>
                                        <option value="Pepper large sweet">Pepper, large (sweet)</option>
                                        <option value="Water melon">Water melon</option>
                                        <option value="Cucumber">Cucumber</option>
                                        <option value="Pumpkin">Pumpkin</option>
                                        <option value="Onions bulb">Onions, bulb</option>
                                        <option value="Potato irish">Potato, irish</option>
                                        <option value="Cabbage">Cabbage</option>
                                        <option value="Lettuce">Lettuce</option>
                                        <option value="Carrot">Carrot</option>
                                    </select>
                                </div>

                                <div class="input-field"> <!-- id="market_type_div" -->
                                    <select id="market_type" name="market_type">
                                        <option value="" class="gray-text" required disabled selected>Choose Market Type</option>
                                        <option value="Wholesalers">Wholesalers</option>
                                        <option value="Semi_Wholesalers">Semi Wholesalers</option>
                                        <option value="Retailer">Retailer</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label for="ttmPrice">Market Price</label>
                                    <input type="number" name="ttmPrice" id="ttmPrice">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">B) Store </div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <label for="quantityStore">Quantity in Store</label>
                                    <input type="number" name="quantityStore" id="quantityStore">
                                </div>
                                <div class="input-field">
                                    <!-- <label for="WHS_Unit">Unit Of Measure</label>
                                        <input type="text" name="WHS_Unit" id="WHS_Unit" required> -->
                                    <select name="quantityUnit" id="quantityUnit" required>
                                        <option value="" class="gray-text" required disabled selected>Wholesales Unit of Measure</option>
                                        <option id="Bag" value="Bag">Bag</option>
                                        <option id="Basket" value="Basket">Basket</option>
                                        <option id="Batta" value="Batta">Batta</option>
                                        <option id="Bowl" value="Bowl">Bowl</option>
                                        <option id="Bundle" value="Bundle">Bundle</option>
                                        <option id="Buttercup" value="Buttercup">Butter Cup</option>
                                        <option id="Dozen" value="Dozen">Dozen</option>
                                        <option id="Finger" value="Finger">Finger</option>
                                        <option id="Head" value="Head">Head</option>
                                        <option id="Live" value="Live">Live</option>
                                        <option id="Lot" value="Lot">Lot</option>
                                        <option id="Number" value="Number">Number</option>
                                        <option id="Pile" value="Pile">Pile</option>
                                        <option id="Pint" value="Pint">Pint</option>
                                        <option id="Pound" value="Pound">Pound</option>
                                        <option id="Rubber" value="Rubber">Rubber</option>
                                        <option id="SC" value="SC">SC</option>
                                        <option id="Single" value="Single">Single</option>
                                        <option id="Spoon" value="Spoon">Spoon</option>
                                        <option id="Tie" value="Tie">Tie</option>
                                        <option id="Bushel" value="Bushel">Bushel</option>
                                        <option id="Packet" value="Packet">Packet</option>
                                        <option id="Set" value="Set">Set</option>
                                        <option id="Litre" value="Litre">Litre</option>
                                        <option id="T/P" value="T/P">T/P</option>
                                        <option id="Other" value="Other">Other (specify)</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <label for="quantitySold">Quantity in Sold</label>
                                    <input type="number" name="quantitySold" id="quantitySold">
                                </div>
                                <div class="input-field">
                                    <label for="stockLevel">Stock Level</label>
                                    <input type="number" name="stockLevel" id="stockLevel">
                                </div>
                                <div class="input-field">
                                    <select id="stockDestination" name="stockDestination" required class="validate">
                                        <option value="" class="gray-text" required disabled selected>Choose Destination</option>
                                        <option class="West_Region" value="Same_Region" id="DIST_WAU">Same Region
                                        </option>
                                        <option value="Same_District" id="Same_District">Same District</option>
                                        <option value="Out_of_Country" id="Out_of_Country">Out of Country</option>
                                        <option value="Within_Country" id="Within_Country">Within Country</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">C) Store Capacity </div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <label for="grandTotal">Grand Total</label>
                                    <input type="number" name="grandTotal" id="grandTotal">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">D) Average Storage Cost </div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <label for="rent">Rent</label>
                                    <input type="number" name="rent" id="rent">
                                </div>
                                <div class="input-field">
                                    <label for="transportCost">Transportation Cost</label>
                                    <input type="number" name="transportCost" id="transportCost">
                                </div>
                                <div class="input-field">
                                    <label for="electricity">Electricity</label>
                                    <input type="number" name="electricity" id="electricity">
                                </div>
                                <div class="input-field">
                                    <label for="securityOwn">Security Own</label>
                                    <input type="number" name="securityOwn" id="securityOwn">
                                </div>
                                <div class="input-field">
                                    <label for="securityMarketOwn">Security Market Owned</label>
                                    <input type="number" name="securityMarketOwn" id="securityMarketOwn">
                                </div>
                                <div class="input-field">
                                    <label for="fumigation">Fumigation</label>
                                    <input type="number" name="fumigation" id="fumigation">
                                </div>
                                <div class="input-field">
                                    <label for="chemicalTreatment">Chemical Treatment</label>
                                    <input type="number" name="chemicalTreatment" id="chemicalTreatment">
                                </div>
                                <div class="input-field">
                                    <label for="averageCost">Average Cost</label>
                                    <input type="number" name="averageCost" id="averageCost">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <input class="btn btn-small btn-extend blue lighten-2 white-text" id="btn-new-stockData"
                        type="submit" value="send">
                </div>
            </div>
        </div>
    </form>
</section>